@import "nool.scss";
@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/SegoeUI-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/SegoeUI-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url("assets/fonts/SegoeUI-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
body {
  height: 1920px;
  width: 1080px;
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
}
#content {
}
#returnButton {
  position: absolute;
  top: 18%;
  left: 3%;
  z-index: 5;
}
#returnButton.hidden {
  opacity: 0;
  pointer-events: none;
}
@import "nav.scss";
@import "info.scss";
@import "services.scss";
@import "video.scss";
